html {
  scroll-behavior: smooth;
}

*,
*::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
